* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: black;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

.header {
  padding: 2rem;
  background-color: rgb(88, 173, 186);
  width: 100%;
  text-align: center;
  color: white;
}

span.color {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.buttons {
  background-color: white;
  width: 100%;
  text-align: center;
}
input#correct {
  opacity: 0;
}
.buttons input[type="button"] {
  border: none;
  background-color: transparent;
  margin: 0 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: ease 0.3s;
  font-weight: bold;
}

.buttons input[type="button"]:hover {
  transform: scale(1.3);
  text-decoration: underline;
}
div.choices {
  background-color: black;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
  min-width: 450px;
}

div.choices .colors {
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 20px;
  background-color: red;
  color: white;
}

/* div.buttons input {
  color: red;
  background-color: red;
} */
